<section class="section logotypes__section">
    <h2 hidden>logotypes</h2>

    <div class="container logotypes__container">
        <div class="img-wrapper">
            <img src="img/logotypes/logo-1 hover.png" alt="dgi" class="logotypes__img">
        </div>
        <div class="img-wrapper">
            <img src="img/logotypes/logo-2 hover.png" alt="sp-gadgets" class="logotypes__img">
        </div>
        <div class="img-wrapper">
            <img src="img/logotypes/logo-3 hover.png" alt="gopro" class="logotypes__img">
        </div>
        <div class="img-wrapper">
            <img src="img/logotypes/logo-4 hover.png" alt="vive" class="logotypes__img">
        </div>
    </div>
</section>