.services__item{
    width: 160px;
    position: relative;
    text-align: дуае;
    margin: 0;
    padding: 0 0 20px 0;
   
 }
 .reset-list{
    list-style-type: none;
 }
 
 .services__item:after{
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 5px;
    background: $primary;
    transform: translateY(-250%);
    z-index: -1;
 }

 .mmm{
     margin:0;
 }