<section class="services">
    <h2 hidden>services</h2>
 
    <div class="container">
        <li class="services__list reset-list">
            <ul class="services__item">
                <h3 class="mmm">доставка</h3>
            </ul>
            <ul class="services__item">
                <h3 class="mmm">гарантия</h3>
            </ul>
            <ul class="services__item">
                <h3 class="mmm">кредит</h3>
            </ul>
            <ul class="services__item">
                <h3 class="mmm"> кредит</h3>
            </ul>
        </li>
 
        <div class="services__list-description">
 
        </div>
    </div>
 
 </section>