$base-font: "Gilroy", sans-serif;
$second-font: "Open sans", sans-serif;

$primary: #f0c52e;
$secondary: rgba( #f0c52e, .5);
$third: #EEE;

$primary-text: #000;
$secondary-text: #fff;
$third-text: rgba(0, 0, 0, 0.3);

$success: green;
$warning: yellow;
$danger: red;