<section class="catalog">
    <div class="container catalog__container">
        {% include '../Catalog/asidebar/asidebar.html' %}
        <div class="catalog__main-content">
            {% set items = [
            { img: "img/item-1.jpg.png", imgtitle: "Любительская селфи-палка", imgsubtitle: "500 руб." },
            { img: "img/item-2.jpg.png", imgtitle: "Профессиональная селфи-палка ", imgsubtitle: "1 500 руб." },
            { img: "img/item-3.jpg.png", imgtitle: "Непотопляемая селфи-палка", imgsubtitle: "2 500 руб." },
            { img: "img/item-4.jpg.png", imgtitle: "Селфи-палка «Следуй за мной»", imgsubtitle: "4 900 руб." }
            ]
            %}
            <ul class="catalog__list reset-list">
                {% for item in items %}
                <li class="catalog__item">
                    <figure class="catalog__item-wrapper">
                        <a href="#" class="catalog__link">
                            <div class="catalog__img-wrapper">
                                <img src="{{ item.img }}" alt="#" class="catalog__img">
                                <div class="catalog-hover">
                                <div class="btn catalog__btn"><a href="catalog.html" class="catalog__btn-link reset-link">В
                                        корзину</a></div>
                                <p class="catalog__hover-text">Добавить к сравнению</p></div>
                            </div>
                            <figcaption class="catalog__img-description">
                                <span class="catalog__img-title">
                                    {{ item.imgtitle }}
                                </span>
                                <span class="catalog__img-sub-title">
                                    {{ item.imgsubtitle }}
                                </span>
                            </figcaption>
                        </a>
                    </figure>
                </li>
                {% endfor %}
            </ul>
            <div class="catalog__navigation">
                <a href="#" class="catalog__navigation-description next-last reset-link">Назад</a>
                <ul class="catalog__navigation-list reset-list">
                    <li class="catalog__navigation-item"><a href="#" class="reset-link catalog__navigation-description">1</a></li>
                    <li class="catalog__navigation-item"><a href="#" class="reset-link catalog__navigation-description">2</a></li>
                    <li class="catalog__navigation-item"><a href="#" class="reset-link catalog__navigation-description">3</a></li>
                </ul>
                <a href="#" class="catalog__navigation-description next-last reset-link">Вперед</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        function collision($div1, $div2) {
            var x1 = $div1.offset().left;
            var w1 = 40;
            var r1 = x1 + w1;
            var x2 = $div2.offset().left;
            var w2 = 40;
            var r2 = x2 + w2;

            if (r1 < x2 || x1 > r2) return false;
            return true;

        }

        // // slider call

        $('#slider').slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {

                $('.ui-slider-handle:eq(0) .price-range-min').html('$' + ui.values[0]);
                $('.ui-slider-handle:eq(1) .price-range-max').html('$' + ui.values[1]);
                $('.price-range-both').html('<i>$' + ui.values[0] + ' - </i>$' + ui.values[1]);

                //

                if (ui.values[0] == ui.values[1]) {
                    $('.price-range-both i').css('display', 'none');
                } else {
                    $('.price-range-both i').css('display', 'inline');
                }

                //

                if (collision($('.price-range-min'), $('.price-range-max')) == true) {
                    $('.price-range-min, .price-range-max').css('opacity', '0');
                    $('.price-range-both').css('display', 'block');
                } else {
                    $('.price-range-min, .price-range-max').css('opacity', '1');
                    $('.price-range-both').css('display', 'none');
                }

            }
        });

        $('.ui-slider-range').append('<span class="price-range-both value"><i>$' + $('#slider').slider('values', 0) + ' - </i>' + $('#slider').slider('values', 1) + '</span>');

        $('.ui-slider-handle:eq(0)').append('<span class="price-range-min value">$' + $('#slider').slider('values', 0) + '</span>');

        $('.ui-slider-handle:eq(1)').append('<span class="price-range-max value">$' + $('#slider').slider('values', 1) + '</span>');
    </script>
</section>