<section class="catalog">
    <div class="container catalog__container">
        {% include '../Catalog/asidebar/asidebar.html' %}
        <div class="catalog__main-content">
            {% set items = [
            { img: "img/item-1.jpg.png", imgtitle: "Любительская селфи-палка", imgsubtitle: "500 руб." },
            { img: "img/item-2.jpg.png", imgtitle: "Профессиональная селфи-палка ", imgsubtitle: "1 500 руб." },
            { img: "img/item-3.jpg.png", imgtitle: "Непотопляемая селфи-палка", imgsubtitle: "2 500 руб." },
            { img: "img/item-4.jpg.png", imgtitle: "Селфи-палка «Следуй за мной»", imgsubtitle: "4 900 руб." }
            ]
            %}
            <ul class="catalog__list reset-list">
                {% for item in items %}
                <li class="catalog__item">
                    <figure class="catalog__item-wrapper">
                        <a href="#" class="catalog__link">
                            <div class="catalog__img-wrapper">
                                <img src="{{ item.img }}" alt="#" class="catalog__img">
                                <div class="btn catalog__btn"><a href="catalog.html" class="catalog__btn-link reset-link">В
                                        корзину</a></div>
                                <p class="catalog__hover-text">Добавить к сравнению</p>
                            </div>
                            <figcaption class="catalog__img-description">
                                <span class="catalog__img-title">
                                    {{ item.imgtitle }}
                                </span>
                                <span class="catalog__img-sub-title">
                                    {{ item.imgsubtitle }}
                                </span>
                            </figcaption>
                        </a>
                    </figure>
                </li>
                {% endfor %}
            </ul>
            <div class="catalog__navigation">
                <a href="#" class="catalog__navigation-description next-last reset-link">Назад</a>
                <ul class="catalog__navigation-list reset-list">
                    <li class="catalog__navigation-item"><a href="#" class="reset-link catalog__navigation-description">1</a></li>
                    <li class="catalog__navigation-item"><a href="#" class="reset-link catalog__navigation-description">2</a></li>
                    <li class="catalog__navigation-item"><a href="#" class="reset-link catalog__navigation-description">3</a></li>
                </ul>
                <a href="#" class="catalog__navigation-description next-last reset-link">Вперед</a>
            </div>
        </div>
    </div>
</section>