.about{
    
   padding-top:50px;
}
.about:before{
    background: #000;
}

.about__title{
    margin:0;
}
.about__description-first{
    margin-top:40px;
}

.about__description-second{
    margin-top: 30px;
}

.about__description{
    @include font-size(15);
    line-height: 30px;
    color: #464646;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.contacts__description{
    margin-top:40px;
    @include font-size(15);
    line-height: 30px;
    color: #464646;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.about__list{
    padding-top:50px;
    padding-left: 0;
    font-family: $base-font;
    @include font-size(18);
    margin-top:0;
    font-weight: 800;

}

.about__item{
    list-style-type: none; 
    padding-bottom: 20px;
    &:before {
    color: #B0B0B0; 
    content: "	○ ";
    padding-right: 20px; 
   }
   &:last-child{
       margin-bottom: 40px;
   }
}

.about__container{
    display: flex;
    flex-direction: row;
}
.contacts__map{
    margin-top: 25px; 
    margin-bottom: 75px;
}
.about{
    &:first-child{
    margin-right: 90px;
}
   
   flex:0 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 90px;
}


.about__btn{
    margin:0;
}