.about {
  &:first-child {
    padding-bottom: 55px;
    @include medium {
      margin-right: 60px;
      padding-bottom: 0px;
    }
  }
  &:before {
    background: $primary-text;
  }
  padding-top: 50px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  div {
    flex-grow: 1;
  }
}

.about__description {
  @include font-size(15);
  line-height: 30px;
  color: #464646;
  font-family: $second-font;
  font-weight: 300;
  padding-bottom: 20px;
  margin: 0;
  @include medium {
    padding-bottom: 45px;
  }
}

.about__list {
  padding-left: 0;
  font-family: $second-font;
  @include font-size(18);
  margin-bottom: 30px;
  font-weight: 800;
  @include medium {
    margin-top: 22px;
    margin-bottom: 75px;
  }
}

.about__item {
  padding-bottom: 20px;
  &:before {
    color: #b0b0b0;
    content: "○";
    padding-right: 20px;
  }
  &:last-child {
    padding: 0;
  }
}

.about__link {
  color: $primary-text;
}

.about__container {
  display: flex;
  flex-direction: column;
  @include medium {
    flex-direction: row;
  }
}

.contacts__map {
  width: 100%;
  height: 220px;
  margin-bottom: 40px;
  @include medium {
    margin-bottom: 80px;
  }
}

.btn-link {
  color: $primary-text;
  &:active {
    color: $third-text;
  }
}

.btn--about {
  margin: 0 auto;
  @include medium {
    position: absolute;
    bottom: 0;
  }
}

.about__title {
  padding-bottom: 20px;
  @include medium {
    padding-bottom: 55px;
  }
}

.about__input {
  display: none;
  position: absolute;
  left: 0px;
  bottom: -60px;
  width: 260px;
  height: 50px;
  background: rgba($third, 0.5);
  padding: 0 20px;
  border: 4px solid transparent;
  outline: none;
  &:hover {
    background: rgba($third, 0.8);
  }
  &:focus {
    color: $primary-text;
    background: $secondary-text;
    border: 4px solid $secondary;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder {
      color: $primary-text;
    }
  }
  &:invalid {
    background: rgba(#eeb2b3, 0.5);
  }
  @include extra-large {
    left: 350px;
    bottom: 0;
    height: 50px;
    background: rgba($third, 0.5);
    padding: 0 20px;
  }
}

.btn-close {
  display: none;
  position: absolute;
  left: 300px;
  bottom: -58px;
  border-radius: 50%;
  background: $primary;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.3;
  }
  @include extra-large {
    left: 620px;
    bottom: 0;
  }
}
.btn-close__icon {
  position: relative;
  @include font-size(30);
  font-family: $second-font;
  color: $secondary-text;
}
