<section class="section about__section">
    <div class="container about__container">

        <div class="about underline">
            <h2 class="about__title">О нас</h2>
            <div>
                <p class="about__description">
                    Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                </p>
                <p class="about__description">
                    Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими
                    транспортными компаниями:
                </p>

                {% set items = [
                { subtitle: "Деловые Линии" },
                { subtitle: "Автотрейдинг" },
                { subtitle: "ЖелДорЭкспеди" }
                ]
                %}
                <ul class="about__list reset-list">
                    {% for item in items %}
                    <li class="about__item">
                        <a href="#" class="about__link reset-link"> {{ item.subtitle }} </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn btn--about"><a href="#" class="btn-link reset-link">Подробнее о нас</a></div>
        </div>
        
        <div class="about underline">
            <h2 class="about__title">Контакты</h2>
            <div>
                <p class="about__description">
                    Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность
                    покупки. Всякое бывает.
                </p>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1MkdqMsAYEqDFCo9woIU6jhqRT7_Zzkkc" width="640" height="480" class="contacts__map"></iframe>
            </div>
            <div class="btn btn--about" onclick="openbox('box'); openinput('input'); return false"> <a href="#"  class="btn-link reset-link">напишите нам</a></div>
            <div  id="box"  class="btn-close"  onclick="closeinput('input'); closebox('box'); return false" ><i class="fas fa-times  btn-close__icon"></i></div>
            <input  id="input"  class="about__input" type="text" placeholder="Представьтесь, пожалуйста">
        </div>
        <script>
            function openbox(id){
                display = document.getElementById(id).style.display;
                
                if(display=='flex'){
                    document.getElementById(id).style.display='none';
                }else{
                    document.getElementById(id).style.display='flex';
                }
            }
            
            function openinput(id){
                display = document.getElementById(id).style.display;
                
                if(display=='block'){
                    document.getElementById(id).style.display='none';
                }else{
                    document.getElementById(id).style.display='block';
                }
            }
            function closeinput(id){
                display = document.getElementById(id).style.display;
                document.getElementById(id).style.display='none';
            }
            function closebox(id){
                display = document.getElementById(id).style.display;
                document.getElementById(id).style.display='none';
            }
    </script>
</section>
               