<section class="about__section">
    <div class="container about__container">

        <div class="about underline">
            <h2 class="about__title">О нас</h2>
            <div>
                <p class="about__description">
                    Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                </p>
                <p class="about__description">
                    Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими
                    транспортными компаниями:
                </p>

                {% set items = [
                { subtitle: "Деловые Линии" },
                { subtitle: "Автотрейдинг" },
                { subtitle: "ЖелДорЭкспеди" }
                ]
                %}
                <ul class="about__list">
                    {% for item in items %}
                    <li class="about__item">
                        <a href="#" class="about__link reset-link"> {{ item.subtitle }} </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn"><a href="catalog.html" class="btn-link reset-link">Подробнее о нас</a></div>
        </div>

        <div class="about underline">
            <h2 class="about__title">Контакти</h2>
            <div>
                <p class="about__description">
                    Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность
                    покупки. Всякое бывает.
                </p>
                <img src="img/map.jpg" alt="map" class="contacts__map">
            </div>
            <div class="btn"><a href="#" class="btn-link reset-link">напишите нам</a></div>
        </div>
</section>