%hover-active-state {
  color: $primary-text;
  &:hover {
    color: $fourth-text;
  }
  &:active {
    color: $third-text;
  }
}

.container--header {
  background-color: $secondary;
  margin-top: 40px;
  position: relative;
  height: 250px;
  padding: 30px 30px;
  @include small {
    padding: 50px 60px;
  }
  @include medium {
    height: 300px;
  }
}

.logo {
  position: absolute;
  left: 30px;
  top: -20px;
  @include small {
    left: 60px;
  }
  @include medium {
    top: -30px;
  }
}

.logo__link {
  @extend %hover-active-state;
  @include font-size(48);
  font-family: $base-font;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  @include small {
    padding: 0 0 30px 0;
  }
}

.search {
  width: 50%;
}

.search__input {
  width: 80%;
  background-color: transparent;
  padding-left: 10px;
  outline: none;
  border: none;
  color: $primary-text;
  &::placeholder {
    color: $fourth-text;
    font: $base-font;
    @include font-size(15);
  }
  &:hover {
    &::placeholder {
      color: $third-text;
    }
  }
}

.fa-search:hover,
.fa-plus:hover {
  cursor: pointer;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  @include medium {
    justify-content: space-between;
  }
}

.user-menu__icon {
  padding-right: 20px;
  @include medium {
    padding-right: 10px;
  }
}

.user-menu__text {
  display: none;
  @include medium {
    display: inline;
  }
}

.user-menu__link {
  @extend %hover-active-state;
  text-decoration: none;
  font-family: $second-font;
  @include font-size(15);
  &:first-child {
    padding-right: 0;
    @include large {
      padding-right: 100px;
    }
    @include extra {
      padding-right: 200px;
    }
  }
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include medium {
    flex-wrap: nowrap;
  }
}

.fa-plus {
  color: $third-text;
}

.nav-catalog__title {
  @extend %hover-active-state;
}

.nav-catalog, .main-nav {
  width: 100%;
  @include medium {
    width: 50%;
  }
}

.main-nav__list {
  width:100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-nav__link,
.nav-catalog {
  @extend %hover-active-state;
  @include font-size(15);
  text-transform: uppercase;
  font-family: $base-font;
  font-weight: 800;
  letter-spacing: 4;
  color: $primary-text;
  @include large {
    @include font-size(16);
  }
  @include extra {
    @include font-size(18);
    letter-spacing: 1px;
  }
}

.mnl2 {
  @include large {
    padding: 0 110px 0 20px;
  }
}
