%hover-active-state {
  color: $primary-text;
  &:hover {
    color: $fourth-text;
  }
  &:active {
    color: $third-text;
  }
}

.container--header {
  background-color: $secondary;
  margin-top: 40px;
  position: relative;
  height: 300px;
  padding: 50px 60px 50px 60px;
}

.logo {
  position: absolute;
  left: 60px;
  top: -30px;
}

.logo__link {
  @extend %hover-active-state;
  @include font-size(48);
  font-family: $base-font;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.input-header {
  background-color: transparent;
  padding-left: 10px;
  outline: none;
  border: none;
  color: $primary-text;
  &::placeholder {
    color: $fourth-text;
  }
  &:hover {
    &::placeholder {
      color: $third-text;
    }
  }
}

.fa-search:hover,
.fa-plus:hover {
  cursor: pointer;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  @include small {
    width: 50%;
  }
}

.user-menu__icon {
  @include small {
    padding-right: 5px;
  }
  @include large {
    padding-right: 10px;
  }
}

.user-menu__text {
  display: none;
  @include small {
    display: inline;
  }
}

.user-menu__link {
  @extend %hover-active-state;
  text-decoration: none;
  font-family: $second-font;
  @include font-size(14);
  &:first-child {
    padding-right: 0;
    @include large {
      padding-right: 100px;
    }
    @include extra {
      padding-right: 200px;
    }
  }
  @include large {
    @include font-size(15);
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fa-plus {
  color: $third-text;
}

.nav-catalog__title {
  @extend %hover-active-state;
}

.nav-catalog {
  width: 50%;
}

.main-nav {
  width: 30%;
  @include medium {
    width: 50%;
  }
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main-nav__link,
.nav-catalog {
  @extend %hover-active-state;
  @include font-size(14);
  text-transform: uppercase;
  font-family: $base-font;
  font-weight: 800;
  letter-spacing: 0;
  color: $primary-text;
  @include large {
    @include font-size(16);
  }
  @include extra {
    @include font-size(18);
    letter-spacing: 1px;
  }
}
.mnl1 {
  padding-right: 15px;
}

.mnl2 {
  padding-right: 0;
  @include extra {
    padding-right: 110px;
  }
}
