<header class="header">
  <div class="container container--header">
    <div class="logo">
      <a href="index.html" class="logo__link">
        Device
      </a>
    </div>
    <div class="topbar">
      <div class="search">
        <i class="fas fa-search"></i>
        <input class="input-header" type="text" placeholder="Поиск по сайту">
      </div>
      <div class="user-menu">
        <a class="user-menu-link uml1" href="#"><i class="fas fa-user user-menu-icon"></i>
          <span class="umt">Войти</span>
        </a>
        <a class="user-menu-link uml2" href="#"><i class="fas fa-signal user-menu-icon"></i>
          <span class="umt">Сравнить</span>
        </a>
        <a class="user-menu-link uml3" href="#"><i class="fas fa-shopping-bag user-menu-icon"></i>
          <span class="umt">Корзина</span>
        </a>
      </div>
    </div>

    <div class="navigation">

      <nav class="nav-catalog">
        <li class="nav-catalog__list">
          <a href="catalog.html" class="nav-catalog__title">Каталог товаров</a>
          <i class="fas fa-plus"></i>
        </li>
      </nav>

      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link mnl1">
              Доставка
            </a></li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link mnl2">
              Гарантия
            </a></li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">
              Контакты
            </a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>
