<header class="header">
  <div class="container container--header">
    <div class="logo">
      <a href="index.html" class="logo__link">
        Device
      </a>
    </div>
    <div class="topbar">
      <div class="search">
        <i class="fas fa-search"></i>
        <input class="search__input" type="text" placeholder="Поиск по сайту" />
      </div>
      <div class="user-menu">
        <a class="user-menu__link reset-link" href="#"
          ><i class="fas fa-user user-menu__icon"></i>
          <span class="user-menu__text">Войти</span>
        </a>
        <a class="user-menu__link reset-link" href="#"
          ><i class="fas fa-signal user-menu__icon"></i>
          <span class="user-menu__text">Сравнить</span>
        </a>
        <a class="user-menu__link reset-link" href="#"
          ><i class="fas fa-shopping-bag user-menu__icon"></i>
          <span class="user-menu__text">Корзина</span>
        </a>
      </div>
    </div>

    <div class="nav-wrapper">
      <nav class="nav-catalog">
          <a href="catalog.html" class="nav-catalog__title reset-link">Каталог товаров</a>
          <i class="fas fa-plus"></i>
      </nav>

      <nav class="main-nav">
        <ul class="main-nav__list reset-list">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link reset-link">
              Доставка
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link mnl2 reset-link">
              Гарантия
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link reset-link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
