.catolog__asidebar {
  width: 28%;
  background: $third;
  padding: 40px 0 0 0;
  position: relative;
  display: none;
  @include medium {
    display: block;
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 1000%;
    height: 100%;
    top: 0;
    right: 100%;
    background: $third;
  }
}

.asidebar__list {
  width: 74%;
}

.asidebar__item {
  padding: 10px 0 40px 0;
  margin: 0;
  border-top: 2px solid #000;
  h3 {
    text-transform: none;
    padding-bottom: 25px;
  }
}

.asidebar__checkbox-item {
  padding: 0 0 6px 0;
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    .checkmark,
    .checkbox-description {
      cursor: pointer;
    }
    .checkmark {
      border: 2px solid rgba($color: #000, $alpha: 0.6);
    }
    .radio:before {
      color: rgba($color: #000, $alpha: 0.6);
    }
  }
  &:active {
    .checkmark {
      border: 2px solid rgba($color: #000, $alpha: 1);
    }
    .radio:before {
      color: #000;
    }
  }
}
.asidebar__img {
  width: 100%;
}
.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-description {
  width: 100%;
  @include font-size(14);
  font-family: $second-font;
  line-height: 2.8;
  color: #000;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  border-radius: 4px;
  background: transparent;
  margin-right: 20px;
  &:before {
    content: "\f00c";
    color: #000;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    @include font-size(23);
    display: none;
    margin: -120% 0 0 15%;
  }
}

.checkbox:checked + .checkbox-description .checkmark:before {
  display: block;
}

.radio {
  border-radius: 50%;
}

.radio:before {
  content: "\f111";
  margin: -31% 0 0 23%;
  @include font-size(12);
}

.asideslider-wrapper {
  padding-bottom: 30px;
}

.noUi-touch-area {
  outline: none;
}

.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  &:before {
    display: none;
  }
  &:after {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #a7a5a5;
    top: 11px;
    left: 11px;
  }
}

.noUi-connect {
  background: #91c92f;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -120%;
  background: none;
  border: none;
  @include font-size(14);
}

.noUi-handle-upper, .noUi-handle-lower {
  outline: none;
}
