<div class="catolog__asidebar">
  <li class="asidebar__list reset-list">
    <ul class="asidebar__item">
      <h3>Стоимость</h3>
      <div class="asideslider-wrapper">
        <div id="slider-tooltips"></div>
      </div>
    </ul>
    <ul class="asidebar__item">
      <h3>Цвет</h3>
      <li class="asidebar__checkbox reset-list">
        {% set items = [ { checked:"checked", label:"Черный", id:"Черный" }, {
        checked:"", label:"Белый", id:"Белый" }, { checked:"checked",
        label:"Синий", id:"Синий" }, { checked:"checked", label:"Красный",
        id:"Красный" }, { checked:"", label:"Розовый", id:"Розовый" } ] %} {%
        for item in items %}
        <ul class="asidebar__checkbox-item">
          <input
            type="checkbox"
            class="checkbox"
            {{
            item.checked
            }}
            id="{{ item.id }}"
          />
          <label for="{{ item.id }}" class="checkbox-description">
            <span class="checkmark"></span>{{ item.label }}</label
          >
        </ul>
        {% endfor %}
      </li>
    </ul>
    <ul class="asidebar__item">
      <h3>Bluetooth</h3>
      <li class="asidebar__checkbox reset-list">
        <ul class="asidebar__checkbox-item">
          <input type="radio" class="checkbox" id="1" name="radio" checked/>
          <label for="1" class="checkbox-description">
            <span class="checkmark radio"></span>Есть</label
          >
        </ul>
        <ul class="asidebar__checkbox-item">
          <input type="radio" class="checkbox" id="2" name="radio"/>
          <label for="2" class="checkbox-description">
            <span class="checkmark radio"></span>Нет</label
          >
        </ul>
      </li>
    </ul>
  </li>
</div>
