.sidebar-title {
    text-transform: none;
    @include font-size(47);
    margin: 35px 60px 30px 60px;
    
}

.breadcrumbs {
    margin-left: 60px;
    margin-bottom: 40px;
    ul {
        padding: 0;
        list-style: none;
        display: flex;
    }
    li {
        &:not(:last-child):after {
            content: url(/img/nav-arrow.png);
            left: 0;
            top: 0;
            margin: 0 15px;
        }
    }
    a {
        text-decoration: none;
        color: $third-text;
    }
}

.panel {
    display: flex;
    align-items: center;
}

.filter {
    width: 30%;
    height: 65px;
    background-color: #DBDBDB;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 1000%;
        height: 65px;
        right: 0;
        top: 0;
        background: #DBDBDB;
        z-index: -1;
    }
}


.filter__title, .sortpanel__title {
    font-family: $base-font;
    color: $primary-text;
    text-transform: uppercase;
    @include font-size(16);
    font-weight: 800;
    letter-spacing: 3px;
    padding-left: 60px;

}

.sortpanel {
    width: 70%;
    height: 65px;
    display: flex;
    background-color: #EBEBEB;
    position: relative;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $third-text;
        padding: 13px;
    }

    &:after {
        content: "";
        position: absolute;
        width: 1000%;
        height: 65px;
        left: 0;
        top: 0;
        background: #EBEBEB;
        z-index: -1;
    }

}

.active-link {
    color: $primary-text !important;
}

.sortpanel__btns {
    display: flex;
    align-items: flex-end;
    a {
        text-decoration: none;
        padding-left: 15px;

    }
}