<div class="container container--sidebar">
  <h1 class="sidebar-title">
    Каталог товаров
  </h1>
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list reset-list">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Каталог товаров</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Моноподы для селфи</a>
      </li>
    </ul>
  </div>
</div>

<div class="panel">
  <div class="container panel__container">
    <div class="filter">
      <p class="filter__title">Фильтр:</p>
    </div>
    <div class="sortpanel">
      <p class="sortpanel__title">Сортировка:</p>
      <ul class="sortpanel__list reset-list">
        <li class="sortpanel__item">
          <a href="#" class="sortpanel__link active-link">По цене</a>
        </li>
        <li class="sortpanel__item">
          <a href="#" class="sortpanel__link">По типу</a>
        </li>
        <li class="sortpanel__item">
          <a href="#" class="sortpanel__link">По популярности</a>
        </li>
      </ul>

      <div class="sortpanel__btns">
        <a href="#" class="sortpanel__btn-up">
          <img src="img/icon-up-dir.png" alt="По возрастанию" />
        </a>
        <a href="#" class="sortpanel__btn-down">
          <img src="img/icon-down-dir.png" alt="По убыванию" />
        </a>
      </div>
    </div>
  </div>
</div>
