<footer class="footer">
  <div class="container footer--container">

    <div class="footer__block footer__block--left underline">
      <div class="footer__logo">
        <a href="index.html" class="footer__link">
          Device
        </a>
      </div>
      <p class="footer__description">г. Москва, ул. Строителей, 15</p>
    </div>


    <div class="footer__block footer__block--center">
      {% set items = [ { subtitle: "Доставка" }, { subtitle: "Гарантии" }, {
      subtitle: "Контакты" } ] %}
      <ul class="center__list reset-list">
        {% for item in items %}
        <li class="center__item">
          <a href="#" class="center__link reset-link"> {{ item.subtitle }} </a>
        </li>
        {% endfor %}
      </ul>

      {% set icons = [ { icon: "fab fa-twitter-square" }, { icon: "fab
      fa-facebook-square"}, { icon: "fab fa-instagram" } ] %}
      <ul class="center__icon-list reset-list">
        {% for icon in icons %}
        <li class="center__icon-item">
          <a href="#" class="center__icon-link reset-link">
            <i class="{{ icon.icon }}"></i
          ></a>
        </li>
        {% endfor %}
      </ul>
    </div>


    <div class="footer__block footer__block--right">
      {% set list = [ { icon: "fas fa-user", subtitle: "Войти" }, { icon: "fas
      fa-signal", subtitle: "Сравнить" }, { icon: "fas fa-shopping-bag",
      subtitle: "Корзина" } ] %}

      <ul class="right__list">
        {% for list in list %}
        <li class="right__item">
          <a href="" class="right__link reset-link">
            <i class="{{ list.icon }} right__icon"></i>
            <span class="right__nav">{{ list.subtitle }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <p class="right__description">
        <a class="right__link reset-link" href="tel:+74954959595">
          Тел.: +7 (495) 495-95-95</a
        >
      </p>
      <a href="#" class="footer__logo-html">
        <img src="img/logo-html.png" alt="logo-html" class="footer__logo-html"
      /></a>
    </div>
  </div>
</footer>
