.slider-section {
  position: relative;
  top: -65px;
  height: 300px;
  padding: 0;
  @include medium {
    top: -110px;
    height: 500px;
  }
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 20px;
  @include medium {
    padding: 0;
  }
}

.img-container {
  display: none;
  @include medium {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider-title {
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: none;
  max-width: 500px;
  margin-bottom: 15px;
  text-align: left;
  letter-spacing: 0px;
  position: relative;
  @include font-size(25);
  padding-top: 40px;
  z-index: 999;

  @include large {
    @include font-size(47);
    padding-top: 60px;
  }

  &:before {
    top: 15%;
    width: 100px;
    background: $secondary-text;
    @include large {
      top: 0;
    }
  }

  &:after {
    content: "01";
    @include font-size(100);
    font-family: "Gilroy-ExtraBold", sans-serif;
    position: absolute;
    right: 5%;
    top: -18%;
    color: $secondary-text;
    z-index: -1;
    @include large {
      @include font-size(179);
      top: -45%;
    }
    @include extra {
      top: -25%;
    }
  }
}

.slider-img {
  width: 70%;

  @include extra {
    width: 384px;
  }
}

.slider-description {
  width: 90%;
  @include medium {
    width: 50%;
  }
}

.slider-text {
  @include font-size(15);
  line-height: 30px;
  max-width: 500px;
  font-family: $second-font;
  color: rgba(0, 0, 0, 0.8);
}

.btn-wrapper {
  margin-top: 20px;
  @include large {
    margin-top: 40px;
  }
}

.btn--slider {
  margin: 0 auto;
  @include font-size(18);
  width: 200px;
  &:after {
    width: 200px;
  }
  @include large {
    width: 300px;
    &:after {
      width: 300px;
    }
  }
}

.specif__title {
  @include font-size(36);
  font-weight: 400;
  margin: 0;
  font-family: "Gilroy-Light", sans-serif;
  line-height: 20px;
  padding-bottom: 20px;
}

.specif__text {
  @include font-size(13);
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.specif-wrap {
  display: flex;
  justify-content: flex-start;
  display: none;

  @include extra {
    display: flex;
  }
}

.specif {
  margin-top: 50px;
  margin-right: 70px;
}