<div class="container container--slider">
    <div class="img-container">
        <img src="img/slider/slide_1.png" alt="" class="slider-img">
    </div>
    <div class="slider-description">
        <h2 class="slider-title underline">
            Делай селфи,
            <br>
            как Бен Стиллер!
        </h2>
        <p class="slider-text">
            Самая длинная палка для селфи доступна в нашем магазине.<br>
            Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
        </p>
        <div class="btn-radio-wrap">
            <div class="btn">Подробнее</div>

            <ul class="radio-btn">
                <li class="radio-btn__item">
                    <img src="img/slider/slider-btn.png" alt="Следующий слайд" class="radio-btn__img">
                </li>
                <li class="radio-btn__item">
                    <img src="img/slider/empty-slider-btn.png" alt="Следующий слайд" class="radio-btn__img">
                </li>
                <li class="radio-btn__item">
                    <img src="img/slider/empty-slider-btn.png" alt="Следующий слайд" class="radio-btn__img">
                </li>
            </ul>
        </div>

        <div class="specification-wrap">
            <div class="specification">
                <p class="sp-title">8,5 м</p>
                <p class="sp-text">Длина палки</p>
            </div>
            <div class="specification">
                <p class="sp-title">5 кг</p>
                <p class="sp-text">Вес палки</p>
            </div>
            <div class="specification">
                <p class="sp-title">Карбон</p>
                <p class="sp-text">Материал палки</p>
            </div>
        </div>
    </div>
</div>