<section class="section slider-section">
  <div class="container container--slider">
    <div class="bxslider">
      <div class="slider-wrapper slider-wrapper-1">
        <div class="img-container">
          <img src="img/slider/slide_1.png" alt="slider-img" class="slider-img" />
        </div>
        <div class="slider-description">
          <h2 class="slider-title underline">
            Делай селфи,
            <br />
            как Бен Стиллер!
          </h2>
          <p class="slider-text">
            Самая длинная палка для селфи доступна в нашем магазине.<br />
            Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
          </p>
          <div class="btn-wrapper">
            <div class="btn btn--slider">Подробнее</div>
          </div>

          <div class="specif-wrap">
            {% set items = [ { title: '8,5 м', text: 'Длина палки'}, { title: '5 кг', text: 'Вес палки'}, { title:
            'Карбон', text: 'Материал палки'} ] %} {% for item in items %}
            <div class="specif">
              <p class="specif__title">{{ item.title }}</p>
              <p class="specif__text">{{ item.text }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="slider-wrapper slider-wrapper-2">
        <div class="img-container">
          <img src="img/slider/slide_1.png" alt="slider-img" class="slider-img" />
        </div>
        <div class="slider-description">
          <h2 class="slider-title underline">
            Делай селфи,
            <br />
            как Бен Стиллер!
          </h2>
          <p class="slider-text">
            Самая длинная палка для селфи доступна в нашем магазине.<br />
            Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
          </p>
          <div class="btn-wrapper">
            <div class="btn btn--slider">Подробнее</div>
          </div>

          <div class="specif-wrap">
            {% set items = [ { title: '8,5 м', text: 'Длина палки'}, { title: '5 кг', text: 'Вес палки'}, { title:
            'Карбон', text: 'Материал палки'} ] %} {% for item in items %}
            <div class="specif">
              <p class="specif__title">{{ item.title }}</p>
              <p class="specif__text">{{ item.text }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function() {
      $('.bxslider').bxSlider({
        captions: true,
        slideWidth: 1200
      });
    });
  </script>
</section>
